body {
  margin-left: 0px;
}
body .Infor {
  margin-top: 30px;
  text-align: left;
}
body .Infor .Infor__title {
  padding-left: 40px;
}
body .Infor .Infor_content {
  margin-top: 10px;
  padding-left: 40px;
}
body .Infor .Infor_content .Content {
  display: flex;
  flex-direction: row;
}
body .Infor .Infor_content .Content span {
  flex-basis: 900px;
}
body .Infor .Infor_content .Content .edit {
  margin-right: 10px;
}
body .Infor .Infor_content .Content .delete {
  margin-left: 0px;
}
