body{
    margin-left: 0px;

    .Infor{
        margin-top: 30px;
        text-align: left;
        
        .Infor__title{
            padding-left: 40px;
        }
        
        .Infor_content{
            margin-top: 10px;
            padding-left: 40px;
        }
    }

}